altair
annotated-types
anyio
asttokens
asyncio
attrs
blinker
cachetools
certifi
cfgv
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
distlib
dnspython
dotenv
dynaconf
email_validator
exceptiongroup
executing
fastapi
filelock
fonttools
ghp-import
gitdb
GitPython
greenlet
h11
httpcore
httptools
httpx
identify
idna
iniconfig
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-core
langchain-protocol
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mergedeep
mkdocs
mkdocs-get-deps
narwhals
nest-asyncio
nodeenv
numpy
orjson
ormsgpack
packaging
pandas
pandas-flavor
parso
pathspec
patsy
pexpect
pillow
pingouin
platformdirs
pluggy
pre_commit
prompt_toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyyaml_env_tag
pyzmq
referencing
requests
requests-toolbelt
rpds-py
scikit-learn
scipy
seaborn
six
smmap
sniffio
SQLAlchemy
stack-data
starlette
statsmodels
streamlit
tabulate
tenacity
threadpoolctl
toml
tomli
tornado
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
virtualenv
watchdog
wcwidth
websockets
xarray
xxhash
zstandard
openai
google-generativeai
psycopg[binary]
transformers